  <div class="row">
    <div class="col-sm-3">
      <ul class="list-group" *ngFor="let marker of markers">
        <li class="list-group-item d-flex justify-content-between align-items-center"
            [routerLink]="['/location', marker.ID]">
          {{marker.name}}
          <mdb-badge pill="true" primary="true">{{marker.people}}</mdb-badge>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <agm-map [latitude]="latitude" [longitude]="longitude" style="height: 500px" >
        <agm-marker (mouseOver)="window.open()" (mouseOut)="window.close()" *ngFor="let marker of markers" [latitude]="marker.latitude"
                    [longitude]="marker.longitude">
          <agm-info-window #window>
            <h6>Nome: {{marker.name}}</h6>
            <h6>Ocupação: {{marker.people}}</h6>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
