/* Global Styles */
h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    font-size: 14px;
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #4252db;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #121e88;
}

button:disabled {
    cursor: default;
    background: #4c5181;
}

/* Class or ID Styles */
.centered-form {
    line-height: 1.4;
    background: #bbd4df;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
    margin-bottom: 8px;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

.button_option {
    background: #42b0db;
}

.button_option:hover {
    background: #1a7599;
}

.button_option:disabled {
    cursor: default;
    background: #507e91;
}