<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          (click)="onClickUsersHandler()">
        <a> Utilizadores</a>
      </li>

      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          (click)="onClickLocationsHandler()">
        <a> Localizações</a>
      </li>
    </ul>
  </div>

  <div class="col-sm" [hidden]="hiddenElement">
    <table mdbTable>
      <thead class="black white-text">
      <tr>
        <th *ngFor="let head of userHeadElements" scope="col">{{head}} </th>
      </tr>
      </thead>
      <tbody class="white black-text">
      <tr mdbTableCol *ngFor="let user of userElements">
        <th scope="row">{{user.ID}}</th>
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        <td>
          <a mdbBtn floating="true" size="sm" color="red" rounded="rounded" mdbWavesEffect>
            <mdb-icon fas icon="trash" (click)="onClickDeleteUser(user.ID)"></mdb-icon>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="addUserModal.show()"
            mdbWavesEffect>Adicionar utilizador
    </button>
  </div>

  <div class="col-sm" [hidden]="hiddenElement2">
    <table mdbTable>
      <thead class="black white-text">
      <tr>
        <th *ngFor="let head of locationHeadElements" scope="col">{{head}} </th>
      </tr>
      </thead>
      <tbody class="white black-text">
      <tr mdbTableCol *ngFor="let location of locationElements">
        <th scope="row">{{location.ID}}</th>
        <td>{{location.latitude}}</td>
        <td>{{location.longitude}}</td>
        <td [routerLink]="['/location', location.ID]">{{location.name}}</td>
        <td>
          <a mdbBtn floating="true" size="sm" color="red" mdbWavesEffect>
            <mdb-icon fas icon="trash" (click)="onClickDeleteLocation(location.ID)"></mdb-icon>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="addLocationModal.show()"
            mdbWavesEffect>Adicionar localização
    </button>
  </div>
</div>

<div mdbModal #addUserModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="userValidationForm" (ngSubmit)="onUserSubmit()">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="addUserModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="addUserModal">Adicionar Utilizador</h4>
        </div>
        <div class="modal-body">
          <div style="margin-top: 50px">
            <div class="md-form">
              <input mdbInput mdbValidate formControlName="username" minLength="2" maxLength="30" type="email"
                     id="form104" class="form-control">
              <label for="form104">Username</label>
              <mdb-error *ngIf="username.invalid && (username.dirty || username.touched)">Input invalid</mdb-error>
              <mdb-success *ngIf="username.valid && (username.dirty || username.touched)">Input valid</mdb-success>
            </div>
            <div class="md-form">

              <input mdbInput mdbValidate formControlName="password" minLength="5" maxLength="30" type="password"
                     id="form105" class="form-control">
              <label for="form105">Password</label>
              <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">Input invalid</mdb-error>
              <mdb-success *ngIf="password.valid && (password.dirty || password.touched)">Input valid</mdb-success>
            </div>
            <mdb-checkbox formControlName="isAdmin" [default]="true" [checked]="checkBox">Is Admin?</mdb-checkbox>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                  (click)="addUserModal.hide()" mdbWavesEffect>Close
          </button>
          <button type="submit" mdbBtn color="primary" class="relative waves-light" (click)="addUserModal.hide()" mdbWavesEffect>Adicionar
            Utilizador
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div mdbModal #addLocationModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="locationValidationForm"
            (ngSubmit)="onLocationSubmit()">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="addLocationModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="addLocationModal">Adicionar localização</h4>
        </div>
        <div class="modal-body">
          <div class="md-form">
            <input formControlName="latitude" type="text" id="form106" class="form-control" [(ngModel)]="latitude" mdbInput>
            <label for="form106">Latitude</label>
          </div>
          <div class="md-form">
            <input formControlName="longitude" type="text" id="form107" class="form-control" [(ngModel)]="longitude" mdbInput>
            <label for="form107">Longitude</label>
          </div>
          <div class="md-form">
            <input formControlName="name" type="text" id="form108" class="form-control" mdbInput>
            <label for="form108">Name</label>
          </div>
          <agm-map [latitude]="latitude" [longitude]="longitude" [mapTypeId]="'hybrid'" [zoom]="17"
                   style="height: 300px; margin-top: 15px" [draggableCursor]="'teste'">
            <agm-marker [latitude]="latitude"
                        [longitude]="longitude"
                        [markerDraggable]="true"
                        (dragEnd)="markerDragEnd($event)">
            </agm-marker>
          </agm-map>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                    (click)="addLocationModal.hide()" mdbWavesEffect>Close
            </button>
            <button type="submit" mdbBtn color="primary" class="relative waves-light" (click)="addLocationModal.hide()" mdbWavesEffect>Adicionar
              Localização
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
