<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <a>
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            (click)="onClickUsersHandler()">
          Users
        </li>
      </a>
      <a>
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            (click)="onClickLocationsHandler()">
          Locations
        </li>
      </a>
    </ul>
  </div>

  <div class="col-sm" [hidden]="hiddenElement">
    <table mdbTable>
      <thead class="black white-text">
      <tr>
        <th *ngFor="let head of userHeadElements" scope="col">{{head}} </th>
      </tr>
      </thead>
      <tbody class="white black-text">
      <tr mdbTableCol *ngFor="let user of userElements">
        <th scope="row">{{user.ID}}</th>
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        <td>
          <a mdbBtn floating="true" size="sm" gradient="blue" mdbWavesEffect>
            <mdb-icon fas icon="star" ng-click (click)="onClickDeleteUser(user.ID)"></mdb-icon>
          </a>

        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm" [hidden]="hiddenElement2">
    <table mdbTable>
      <thead class="black white-text">
      <tr>
        <th *ngFor="let head of locationHeadElements" scope="col">{{head}} </th>
      </tr>
      </thead>
      <tbody class="white black-text">
      <tr mdbTableCol *ngFor="let location of locationElements">
        <th scope="row">{{location.ID}}</th>
        <td>{{location.latitude}}</td>
        <td>{{location.longitude}}</td>
        <td>{{location.name}}</td>
        <td>
          <a mdbBtn floating="true" size="sm" gradient="blue" mdbWavesEffect>
            <mdb-icon fas icon="star" ng-click (click)="onClickDeleteLocation(location.ID)"></mdb-icon>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
