<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          (click)="onClickUsersHandler()">
        <a> Users</a>
      </li>

      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          (click)="onClickLocationsHandler()">
        <a> Locations</a>
      </li>
    </ul>
    <form [formGroup]="userValidationForm" (ngSubmit)="onUserSubmit()">
      <div [hidden]="hiddenElement" style="margin-top: 50px">
        <h5 solid="true"> Novo Utilizador:</h5>
        <div class="md-form">
          <input mdbInput mdbValidate  formControlName="username" minLength="2" maxLength="30" type="email"
                 id="form104" class="form-control">
          <label for="form104">Username</label>
          <mdb-error *ngIf="username.invalid && (username.dirty || username.touched)">Input invalid</mdb-error>
          <mdb-success *ngIf="username.valid && (username.dirty || username.touched)">Input valid</mdb-success>
        </div>
        <div class="md-form">

          <input mdbInput mdbValidate  formControlName="username" minLength="5" maxLength="30" type="password"
                 id="form105" class="form-control">
          <label for="form105">Password</label>
          <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">Input invalid</mdb-error>
          <mdb-success *ngIf="password.valid && (password.dirty || password.touched)">Input valid</mdb-success>
        </div>
        <mdb-checkbox formControlName="isAdmin" [default]="true" [checked]="checkBox">Is Admin?</mdb-checkbox>
      </div>
      <button [hidden]="hiddenElement" *ngIf="disabled" mdbBtn type="submit" disabled color="indigo" rounded="true"
              mdbWavesEffect style="margin-top: 50px">Adicionar Utilizador
      </button>
      <button [hidden]="hiddenElement" *ngIf="!disabled" mdbBtn type="submit" color="indigo" rounded="true"
              mdbWavesEffect style="margin-top: 50px">Adicionar Utilizador
      </button>
    </form>
    <form [formGroup]="locationValidationForm"
          (ngSubmit)="onLocationSubmit()">
      <div [hidden]="hiddenElement2" style="margin-top: 50px">
        <h5 solid="true"> Nova Localização:</h5>
        <div class="md-form">
          <input formControlName="latitude" type="text" id="form106" class="form-control" mdbInput>
          <label for="form106">Latitude</label>
        </div>
        <div class="md-form">
          <input formControlName="longitude" type="text" id="form107" class="form-control" mdbInput>
          <label for="form107">Longitude</label>
        </div>
        <div class="md-form">
          <input formControlName="name" type="text" id="form108" class="form-control" mdbInput>
          <label for="form108">Name</label>
        </div>
      </div>
      <button [hidden]="hiddenElement2" mdbBtn type="submit" color="indigo" rounded="true"
              mdbWavesEffect style="margin-top: 50px">Adicionar Localização
      </button>
    </form>
  </div>


  <div class="col-sm" [hidden]="hiddenElement">
    <table mdbTable>
      <thead class="black white-text">
      <tr>
        <th *ngFor="let head of userHeadElements" scope="col">{{head}} </th>
      </tr>
      </thead>
      <tbody class="white black-text">
      <tr mdbTableCol *ngFor="let user of userElements">
        <th scope="row">{{user.ID}}</th>
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        <td>
          <a mdbBtn floating="true" size="sm" color="red" rounded="rounded" mdbWavesEffect>
            <mdb-icon fas icon="trash" (click)="onClickDeleteUser(user.ID)"></mdb-icon>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm" [hidden]="hiddenElement2">
    <table mdbTable>
      <thead class="black white-text">
      <tr>
        <th *ngFor="let head of locationHeadElements" scope="col">{{head}} </th>
      </tr>
      </thead>
      <tbody class="white black-text">
      <tr mdbTableCol *ngFor="let location of locationElements">
        <th scope="row">{{location.ID}}</th>
        <td>{{location.latitude}}</td>
        <td>{{location.longitude}}</td>
        <td>{{location.name}}</td>
        <td>
          <a mdbBtn floating="true" size="sm" color="red" mdbWavesEffect>
            <mdb-icon fas icon="trash" (click)="onClickDeleteLocation(location.ID)"></mdb-icon>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
