<div class="container">
  <mdb-card>
    <mdb-card-body>
      <mdb-card-title>
        <div class="row align-items-center justify-content-between">
          <div class="col-sm">
            <h4>{{name}}</h4>
          </div>
        </div>
      </mdb-card-title>
      <mdb-card-text>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h5 (click)="test.toggle()">Utilizadores nesta localização</h5>
              <div class="" mdbCollapse #test="bs-collapse">
                <ul *ngFor="let user of users" class="list-group-flush">
                  <li *ngIf="user===this.tokenStorage.getUser().Username; else isNotMe" class="list-group-item active">
                    {{user}}
                  </li>
                  <ng-template #isNotMe>
                    <li class="list-group-item">
                      {{user}}
                    </li>
                  </ng-template>
                </ul>
              </div>
            </div>
            <div class="col-sm">
              <h5>Ocupação -> {{counter}} pessoas.</h5>
            </div>
            <div class="col-auto">
              <div aria-label="Basic example" class="btn-group" role="group">
                <button (click)="counterPlus()" class="btn btn-primary px-3" type="button"><i aria-hidden="true"
                                                                                              class="fas fa-plus"></i>
                </button>
                <button (click)="counterMinus()" class="btn btn-primary px-3" type="button"><i aria-hidden="true"
                                                                                               class="fas fa-minus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <agm-map [latitude]="latitude" [longitude]="longitude" [mapDraggable]=false [mapTypeId]="'hybrid'" [zoom]="17"
                 style="height: 500px; padding-top: 15px">
          <agm-marker (mouseOut)="window.close()" (mouseOver)="window.open()" [latitude]="latitude"
                      [longitude]="longitude">
            <agm-info-window #window>
              <h6>Nome: {{name}}</h6>
              <h6>Ocupação: {{counter}}</h6>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
</div>
